<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
    <div class="container">
      <a class="navbar-brand" href="/home">AcnSoberShop</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item active">
            <a class="nav-link" href="/home">Home
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Logout</a>
          </li>              
         </ul>
      </div>
    </div>
  </nav>


<ng-container > <!--*ngIf="data"-->
  <div class="col-lg-12"><br><br>
    <p id="title">MAXICAKE</p>
  </div>
  <div class="row">
    <div class="col-lg-4 text">
      <img id = "photo" src="/assets/image/immaginiDatabase/MAXICAKE.jpg" alt="Immagine" > 
    </div>
    <div class="col-lg-8 text1">
      <p id="descrizione">Il Birrificio Pontino di Latina fforna una nuova creatura nella sua produzione ed ecco una birra che per il panorama italiano è qualcosa di innovativo, una Mexican Lager da 5%.

        LA CALAVERA (MEXICAN LAGER) 5% Alc. Vol.
        
      <p id="price"> 99,80€</p> <!--{{data.descrizione}}-->
    </div>
  </div>
</ng-container>

<ng-container >
  <div class="col-lg-12"><br><br>
    <p id="title">Absolut Raspberri<p> 
      <!--product name -->
  </div>
  <div class="row">
    <div class="col-lg-4 text1">
      <img id = "photo" src="/assets/image/immaginiDatabase/Absolut_Raspberri.jpg"   alt="Immagine" > 
    </div>
    <div class="col-lg-8 text">
      <p id="descrizione">Il Birrificio Pontino di Latina fforna una nuova creatura nella sua produzione ed ecco una birra che per il panorama italiano è qualcosa di innovativo, una Mexican Lager da 5%.

        LA CALAVERA (MEXICAN LAGER) 5% Alc. Vol.        
        
      <p id="price"> 99,80€</p> <!--price-->

      <div class="col-md-6 product_content">
                <!--type-->
      <!--product code-->
    </div>
  </div>
</div>
</ng-container>

<ng-container >
    <div class="col-lg-12"><br><br>
      <p id="title">Absolut Raspberri<p> 
        <!--product name -->
    </div>
    <div class="row">
      <div class="col-lg-4 text1">
        <img id = "photo" src="/assets/image/immaginiDatabase/Cabernet_Franc_Vitas.jpg"   alt="Immagine" > 
      </div>
      <div class="col-lg-8 text">
        <p id="descrizione">Il Birrificio Pontino di Latina fforna una nuova creatura nella sua produzione ed ecco una birra che per il panorama italiano è qualcosa di innovativo, una Mexican Lager da 5%.
  
          LA CALAVERA (MEXICAN LAGER) 5% Alc. Vol.        
          
        <p id="price"> 99,80€</p> <!--price-->
  
        <div class="col-md-6 product_content">
                  <!--type-->
        <!--product code-->
      </div>
    </div>
  </div>
  </ng-container>
  
  <ng-container >
      <div class="col-lg-12"><br><br>
        <p id="title">Navy Rum Caroni<p> 
          <!--product name -->
      </div>
      <div class="row">
        <div class="col-lg-4 text1">
          <img id = "photo" src="/assets/image/immaginiDatabase/NavyRumCaroni.jpg"   alt="Immagine" > 
        </div>
        <div class="col-lg-8 text">
          <p id="descrizione">Il Birrificio Pontino di Latina fforna una nuova creatura nella sua produzione ed ecco una birra che per il panorama italiano è qualcosa di innovativo, una Mexican Lager da 5%.
    
            LA CALAVERA (MEXICAN LAGER) 5% Alc. Vol.        
            
          <p id="price"> 99,80€</p> <!--price-->
    
          <div class="col-md-6 product_content">
                    <!--type-->
          <!--product code-->
        </div>
      </div>
    </div>
    </ng-container>

    <ng-container >
        <div class="col-lg-12"><br><br>
          <p id="title">ORIGINS BREWING BAROQUE<p> 
            <!--product name -->
        </div>
        <div class="row">
          <div class="col-lg-4 text1">
            <img id = "photo" src="/assets/image/immaginiDatabase/ORIGINS_BREWING_BAROQUE.jpg"   alt="Immagine" > 
          </div>
          <div class="col-lg-8 text">
            <p id="descrizione">Il Birrificio Pontino di Latina fforna una nuova creatura nella sua produzione ed ecco una birra che per il panorama italiano è qualcosa di innovativo, una Mexican Lager da 5%.
      
              LA CALAVERA (MEXICAN LAGER) 5% Alc. Vol.        
              
            <p id="price"> 99,80€</p> <!--price-->
      
            <div class="col-md-6 product_content">
                      <!--type-->
            <!--product code-->
          </div>
        </div>
      </div>
      </ng-container>

      <ng-container >
          <div class="col-lg-12"><br><br>
            <p id="title">Pinot Grigio Petrucco<p> 
              <!--product name -->
          </div>
          <div class="row">
            <div class="col-lg-4 text1">
              <img id = "photo" src="/assets/image/immaginiDatabase/Pinot_Grigio_Petrucco.jpg"   alt="Immagine" > 
            </div>
            <div class="col-lg-8 text">
              <p id="descrizione">Il Birrificio Pontino di Latina fforna una nuova creatura nella sua produzione ed ecco una birra che per il panorama italiano è qualcosa di innovativo, una Mexican Lager da 5%.
        
                LA CALAVERA (MEXICAN LAGER) 5% Alc. Vol.        
                
              <p id="price"> 99,80€</p> <!--price-->
        
              <div class="col-md-6 product_content">
                        <!--type-->
              <!--product code-->
            </div>
          </div>
        </div>
        </ng-container>

        <ng-container >
            <div class="col-lg-12"><br><br>
              <p id="title">Reserve Rum<p> 
                <!--product name -->
            </div>
            <div class="row">
              <div class="col-lg-4 text1">
                <img id = "photo" src="/assets/image/immaginiDatabase/Reserve_Rum.jpg"   alt="Immagine" > 
              </div>
              <div class="col-lg-8 text">
                <p id="descrizione">Il Birrificio Pontino di Latina fforna una nuova creatura nella sua produzione ed ecco una birra che per il panorama italiano è qualcosa di innovativo, una Mexican Lager da 5%.
          
                  LA CALAVERA (MEXICAN LAGER) 5% Alc. Vol.        
                  
                <p id="price"> 99,80€</p> <!--price-->
          
                <div class="col-md-6 product_content">
                          <!--type-->
                <!--product code-->
              </div>
            </div>
          </div>
          </ng-container>

          <ng-container >
              <div class="col-lg-12"><br><br>
                <p id="title">Soave Albare Portinari<p> 
                  <!--product name -->
              </div>
              <div class="row">
                <div class="col-lg-4 text1">
                  <img id = "photo" src="/assets/image/immaginiDatabase/Soave Albare Portinari.jpg"   alt="Immagine" > 
                </div>
                <div class="col-lg-8 text">
                  <p id="descrizione">Il Birrificio Pontino di Latina fforna una nuova creatura nella sua produzione ed ecco una birra che per il panorama italiano è qualcosa di innovativo, una Mexican Lager da 5%.
            
                    LA CALAVERA (MEXICAN LAGER) 5% Alc. Vol.        
                    
                  <p id="price"> 99,80€</p> <!--price-->
            
                  <div class="col-md-6 product_content">
                            <!--type-->
                  <!--product code-->
                </div>
              </div>
            </div>
            </ng-container>

            
          <ng-container >
              <div class="col-lg-12"><br><br>
                <p id="title">Très Vieux Rhum<p> 
                  <!--product name -->
              </div>
              <div class="row">
                <div class="col-lg-4 text1">
                  <img id = "photo" src="/assets/image/immaginiDatabase/Très_Vieux_Rhum.jpg"   alt="Immagine" > 
                </div>
                <div class="col-lg-8 text">
                  <p id="descrizione">Il Birrificio Pontino di Latina fforna una nuova creatura nella sua produzione ed ecco una birra che per il panorama italiano è qualcosa di innovativo, una Mexican Lager da 5%.
            
                    LA CALAVERA (MEXICAN LAGER) 5% Alc. Vol.        
                    
                  <p id="price"> 99,80€</p> <!--price-->
            
                  <div class="col-md-6 product_content">
                            <!--type-->
                  <!--product code-->
                </div>
              </div>
            </div>
            </ng-container>
      
            
            <ng-container >
                <div class="col-lg-12"><br><br>
                  <p id="title">Whiskey<p> 
                    <!--product name -->
                </div>
                <div class="row">
                  <div class="col-lg-4 text1">
                    <img id = "photo" src="/assets/image/immaginiDatabase/Whiskey.jpg"   alt="Immagine" > 
                  </div>
                  <div class="col-lg-8 text">
                    <p id="descrizione">Il Birrificio Pontino di Latina fforna una nuova creatura nella sua produzione ed ecco una birra che per il panorama italiano è qualcosa di innovativo, una Mexican Lager da 5%.
              
                      LA CALAVERA (MEXICAN LAGER) 5% Alc. Vol.        
                      
                    <p id="price"> 99,80€</p> <!--price-->
              
                    <div class="col-md-6 product_content">
                              <!--type-->
                    <!--product code-->
                  </div>
                </div>
              </div>
              </ng-container>